.taskbar{
    outline: 1px solid var(--ButtonLight);
    border-top: 1px solid var(--ButtonHilight);
    background: var(--ButtonFace);
    color: var(--ButtonText);
    position: absolute;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
    display: flex;
    flex: 1;
}

.taskbar .start-button{
    flex-shrink: 0;
    outline: none;
    position: relative;
    min-width: 0;
    width: auto !important;
    padding: 2px 5px;
}
.start-button:active{
    padding: 3px 4px 1px 6px !important;
}

.taskbar-divider {
    border-left: 1px solid var(--ButtonShadow);
    border-right: 1px solid var(--ButtonHilight);
}

.taskbar-divider {
    margin-right: 0;
    margin-left: 0;
}
.task span{
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.task, .start-button {
    max-width: 200px;
    width: 50%;
    line-height: 14px;
    padding: 2px 2px 2px 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;
}
@media (max-width: 400px) {
    .task{
        width: auto;
    }
}
.tasks{
    display: flex;
    flex: 1;
    height: 100%;
    min-width: 0;
}

.taskbar-time {
    font-family: "MS Sans Serif", "Segoe UI", sans-serif;
    font-size: 12px;
    width: 60px;
    text-align: center;
}


.task.selected {
    font-weight: bold;
}

.tray{
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    line-height: 22px;
    box-sizing: border-box;
    vertical-align: middle !important;
}

.tray .taskbar-icons{
    padding-left: 4px;
    display: flex;
}