.window{
    position: absolute;
    /*min-width: 200px;*/
    max-width: calc(100vw - 4px);
}

.window{
    background-color: var(--ButtonFace);
    border-color: rgb(255, 255, 255) rgb(128, 128, 128) rgb(128, 128, 128) rgb(255, 255, 255);
    border-image: var(--button-normal-border-image);
    box-shadow: inset -1px 0 0 0 grey, inset -1px 1px 0 0 #fff, inset -1px -1px 0 0 grey, inset 0 0 0 1px #fff;
    border-width: 1px;
    border-style: solid;
}

.window.player{
    max-width: 315px;
}

.draggable-wrapper{
    display: flex;
    width: calc(100% - 60px);
}
.draggable-wrapper span{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inner{
    padding: 2px;
}

.headerIcon{
    margin-right: 2px;
    margin-left: 5px;
}
.header.active{
    background: linear-gradient(to right, var(--ActiveTitle) 0%, var(--GradientActiveTitle) 100%);
    color: #fff;
}
.header{
    background: linear-gradient(to right, var(--InactiveTitle) 0%, var(--GradientInactiveTitle) 100%);
    color: var(--InactiveTitleText);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin: 1px;
    padding: 2px;
    position: relative;
    display: flex;
    cursor: default;
    justify-content: space-between;
}
.header .controls{
    display: flex;
    align-items: center;
}

.window.minimizing{
    transition: 0.3s;
    transform: translate(var(--to), 100vh) scaleX(0) !important;
}
.window.unminimizing{
    transition: 0.2s;
    transform: translate(var(--x), var(--y)) scaleX(1);
}
.window.dragging{
    transition: none !important;
}
.window.minimizing, .window.unminimizing{
    /*transition-timing-function: steps(7);*/
}
.content-hidden .content{
    display: none;
}