.window{
    position: absolute;
    min-width: 200px;
    max-width: 90vw;
}

.window{
    background-color: var(--ButtonFace);
    border-color: rgb(255, 255, 255) rgb(128, 128, 128) rgb(128, 128, 128) rgb(255, 255, 255);
    border-image: var(--button-normal-border-image);
    box-shadow: inset -1px 0 0 0 grey, inset -1px 1px 0 0 #fff, inset -1px -1px 0 0 grey, inset 0 0 0 1px #fff;
    border-width: 1px;
    border-style: solid;
}

.window.player{
    max-width: 315px;
}

.draggable-wrapper{
    display: flex;
    width: calc(100% - 60px);
}
.draggable-wrapper span{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inner{
    padding: 2px;
}

.headerIcon{
    /*border-radius: 100px;*/
    margin-right: 2px;
    margin-left: 5px;
}
.header.active{
    background: linear-gradient(to right, var(--ActiveTitle) 0%, var(--GradientActiveTitle) 100%);
    color: #fff;
}
.header{
    background: linear-gradient(to right, var(--InactiveTitle) 0%, var(--GradientInactiveTitle) 100%);
    color: var(--InactiveTitleText);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin: 1px;
    padding: 2px;
    position: relative;
    display: flex;
    cursor: default;
    justify-content: space-between;
}
.controls{
    display: flex;
    align-items: center;
}
/*.controls button{*/
/*    height: 16px;*/
/*    margin: 0;*/
/*    padding: 2px;*/
/*    width: 16px;*/
/*    outline: none;*/
/*    user-select: none;*/
/*}*/

/*.controls button span{*/
/*    background-size: cover;*/
/*    display: block;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAKCAYAAADo3z3CAAAAoUlEQVRIS9VVWw7AIAib9z/0FpZgCOFRgpluf9MClhYdV++7gfDhYLxYDw+UyiHd5F8S5lr6zNa6Xpv/KwhHOahQpLB1+CwfycgYrwmE0WK8MTsIR1aOGsR+NYkkYzN5/pGwVA9xA/diq8LeHCKuQxQ+aoYt2yJWtpSNZth0edRpGVC5eGQcSg4hXLml3fdpBeHs8evWyPKX9ruXVqnYCeAHA8IyC9K2kmkAAAAASUVORK5CYII=") no-repeat 50%;*/
/*}*/

/*.controls button.minimize span{*/
/*    background-position-x: -1px;*/
/*}*/
/*.controls button.close span{*/
/*    background-position-x: -41px;*/
/*}*/

/*.controls button:nth-child(n){*/
/*    margin-left: 2px !important;*/
/*}*/

.window.minimizing{
    transform: translate(var(--to), 100vh) !important;
}
.window.unminimizing{
    transform: translate(var(--x), var(--y));
}
.window.dragging{
    transition: none !important;
}
.window.minimizing, .window.unminimizing{
    transition: 0.3s;
}
.window.minimizing .content{
    display: none;
}