@media (min-width: 400px) {
    .window.player{
        max-width: 380px;
    }
}

.player-wrapper{
    padding: 4px;
}

.player-wrapper .cover, .upload-form .cover{
    /*background-attachment: fixed;*/
    background-color: teal !important;
    /*background-position: 50%;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-image: var(--cover);*/
}

.player-wrapper .cover .loading-icon{
    display: none;
    margin: auto;
}

.player-wrapper .cover > img:not(.loading-icon){
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-wrapper .cover.tinted > img:not(.loading-icon){
    display: none;
}

.player-wrapper .cover.tinted{
    display: flex;
}
.player-wrapper .cover.tinted .loading-icon{
    display: block;
}

.player-wrapper .cover{
    margin: 0 auto 10px;
    width: 100%;
    height: 100%;
    /*filter: blur(0.05rem) saturate(0.7) contrast(1.5) brightness(1.2);*/
}

@media(max-width: 400px){
    .player-wrapper .cover{
        height: calc(100vw - 12px);
    }
}

.player-wrapper .track-data{
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

.track-name{
    display: flex;
    flex-direction: column;
}

.track-controls{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.track-time .line-controller{

}
.track-time{
    padding: 10%;
    margin: 5px auto 5px;
}

.track-duration{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: -6%;
    font-size: 12px;
}